@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Online Banking System</h1>
        <h2>WDT 2020 Summer Semester</h2>
        <h3>Assignment 2 Group 43</h3>
        <h4>S3795574 Man Hou</h4>
    </div>
