@{
    ViewBag.Title = "Error occurred";
}

<h1>There is something wrong with my website.</h1>

<p>The error code is @ViewBag.Error. That means the error is on server side.</p>
<p>An Email has been send to Admin.</p>
