@{
    ViewBag.Title = "Error occurred";
}

<h1>There is something wrong with my website.</h1>

<p>The error code is @ViewBag.Error. That means our website do not have the page.</p>
<p>The page could be deleted by admin or the URL you input is wrong.</p>
