@model Customer
@{
    ViewData["Title"] = "Change Password";
}
<h1 class="display-4">Change password</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Password">
            <div class="form-group">
                <label for="Password" class="control-label">Old Password</label>
                <input id="OldPassword" name="OldPassword" type="password" class="form-control"
                       data-val="true" data-val-required="The Password field is required." />
                @Html.ValidationMessage("Password", new { @class = "text-danger" })
                <label for="Password" class="control-label">New Password</label>
                <input id="NewPassword" name="NewPassword" type="password" class="form-control"
                       data-val="true" data-val-required="The Password field is required." />
                <label for="Password" class="control-label">Input Again</label>
                <input id="NewPasswordAgain" name="NewPasswordAgain" type="password" class="form-control"
                       data-val="true" data-val-required="The Password field is required." />
            </div>
            @Html.ValidationMessage("oldPassword", new { @class = "text-danger" })
            @Html.ValidationMessage("newPassword", new { @class = "text-danger" })
            <div class="form-group">
                <input type="submit" value="Change" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-controller="Home" asp-action="Index">Back to Home Page</a>
</div>
@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
