@{
    ViewData["Title"] = "Home Page";
}
    <div class="jumbotron" style="background-image:url('/img/blue.jpg')" >
        <h1 class="display-4">Welcome</h1>
        <p>This is Admin Portal</p>
        <p class="text-danger">
            <Strong>NOTE</Strong>: There is no Login link unless you knew the URL.
        </p>
    </div>

